.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  background-image: url('cd.jpg');
  background-size: cover;
}

.formWrapper {
  border: 3px solid palevioletred;
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  opacity: 0.9;
}

/* .formWrapper::before{
  position: absolute;
  width: 140px;
  height: 140%;
  box-shadow: 0 0 20px rgb(8, 8, 8);
  animation: animate 4s linear infinite;

}
.formWrapper::after{
  position: absolute;
  inset: 10px;
  background-color: rgb(4, 75, 97);
  border-radius: 16px;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
} */

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 125px;
  margin-bottom: 7px;
}
.nav{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 86vh;
}
.navim{
  position: absolute;
  bottom: 1vw;
  right:34vw;
}
.navb{
  position: absolute;
  bottom: 3vw;
  left: 41vw;
}
.navPageLogo{
  height: 85px;
}

.disp{
  margin-right: 6vw;
  border-right:2px solid palevioletred ;
  line-height: 18px;
  height: 28vw;
  padding-right: 7vw;
}


.work{
  font-size: 6vw;
}
.tog{
  font-size: 4vw;
  color: palevioletred;
}
.build{
  font-size: 6vw;
}
.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newBtn{
  border: 2px solid #db7093;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: palevioletred;
  width: 120px;
  margin-left: auto;
  color: #db7093;
  background: #282a36;
}
.newBtn:hover{
  background: #db7093;
  color:#282a36;
}

.joinBtn,
.leaveBtn {
  background: palevioletred;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #b3249b;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: palevioletred;
  text-decoration: none;
  border-bottom: 1px solid palevioletred;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #cc0cbf;
  border-color: #cc0cbf;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  border-right: 3px solid palevioletred;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}